/*Helper classes*/
html {
    font-size: 16px;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    height: inherit;
    width: inherit;
    margin: 0 !important;
}

.app {
    height: inherit;
    width: inherit;
    position: relative;
}

b {
    font-size: 150%;
    font-weight: 700;
}

#text-cont {
    z-index: 1;
    text-align: center;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 20%;
}

#scrollCont {
    width: 100%;
    height: 65%;
    color: #ff6;
    position: relative;
    padding-bottom: 5%;
}

#scrollTxt {
    width: 300px;
    height: 35px;
    margin-bottom: 10px;
    resize: none;
    color: #333;
    padding: 4px 4px;
}

/*-webkit-transform-origin: 50% 100%;*/
/*-moz-transform-origin: 50% 100%;*/
/*-ms-transform-origin: 50% 100%;*/
/*-o-transform-origin: 50% 100%;*/
/*-webkit-transform: perspective(300px) rotateX(25deg);*/
/*-moz-transform: perspective(300px) rotateX(25deg);*/
/*-ms-transform: perspective(300px) rotateX(25deg);*/
/*-o-transform: perspective(300px) rotateX(25deg);*/

#scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 80%;

    height: 200%;
    font-size: 5rem;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    z-index: 10;

    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
    /*background-color: grey;*/
}

#scroll:after, #scroll:before  {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
}

#scroll:after, #scroll:before  {
    bottom: 0;
    top: 80%;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, transparent 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,1) 0%, transparent 100%);
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,1) 0%, transparent 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,1) 0%, transparent 100%);
    background-image: linear-gradient(bottom, rgba(0,0,0,1) 0%, transparent 100%);
}

#scroll:before{
    top: 0;
    bottom: 60%;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
}

#scrollContent {
    position: absolute;
    top: 100%;
    animation: scroll 60s linear 0.1s infinite;
    width: 100%;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

#logo {
    font-size: 5rem;
    text-align: center;
    color: #000;
    text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
    z-index: 10;
    opacity: 0;
    -webkit-animation: logo 4s ease-out 1s;
    -moz-animation: logo 4s ease-out 1s;
    -ms-animation: logo 4s ease-out 1s;
    -o-animation: logo 4s ease-out 1s;
    animation: logo 4s ease-out 1s;
    margin-top: -100px;
    position: relative;
}

@-webkit-keyframes logo {
    0% { -webkit-transform: scale(1); opacity: 1; }
    50% { opacity: 1; }
    100% { -webkit-transform: scale(0.1); opacity: 0; }
}

@-moz-keyframes logo {
    0% { -moz-transform: scale(1); opacity: 1; }
    50% { opacity: 1; }
    100% { -moz-transform: scale(0.1); opacity: 0; }
}

@-ms-keyframes logo {
    0% { -ms-transform: scale(1); opacity: 1; }
    50% { opacity: 1; }
    100% { -ms-transform: scale(0.1); opacity: 0; }
}

@-o-keyframes logo {
    0% { -o-transform: scale(1); opacity: 1; }
    50% { opacity: 1; }
    100% { -o-transform: scale(0.1); opacity: 0; }
}

@keyframes logo {
    0% { transform: scale(1); opacity: 1; }
    50% { opacity: 1; }
    100% { transform: scale(0.1); opacity: 0; }
}

.yodaMsg {
    position: relative;
    width: 100%;
    max-width: 596px;
}

.stars, .twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.stars {
    background: #000 url(assets/stars.png) repeat top center;
    z-index: 0;
}
.twinkling {
    background: transparent url(assets/twinkling.png) repeat top center;
    z-index: 1;
    -moz-animation: move-twink-back 500s linear infinite;
    -ms-animation: move-twink-back 500s linear infinite;
    -o-animation: move-twink-back 500s linear infinite;
    -webkit-animation: move-twink-back 500s linear infinite;
    animation: move-twink-back 800s linear infinite;
}
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}



.btn {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    /*margin-right: 10px;*/
}
.btn:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn:active {
    color: #000;
    border-color: #444;
}

.btn:active, .btn:focus {
    outline: none;
    box-shadow: none;
}




@media only screen and (min-width: 320px) and (max-width: 479px){
    #scroll {
        font-size: 3rem;
        width: 100%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    #scroll {
        font-size: 3rem;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    #scroll {
        font-size: 3rem;
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1999px){

}
